.paginator {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
        padding: 8px;
        background-color: transparent;
        border: none;

        &:hover {
            cursor: pointer;
        }
    }

    &__item {
        font-size: 16px;
        border-radius: 2px;
        padding: 8px;

        &:not(:last-child) {
            margin-right: 8px;
        }

        &:hover {
            cursor: pointer;
            background-color: #EFCBB5;
        }
    }

}

.active {
    background-color: #D19277;
}

.disabled {
    display: none;
}