.posts {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__form {
        width: 360px;
        margin-top: 40px;
    }

    &__title {
        color: #615D4C;
        font-size: 40px;
    }

    &__table {
        margin-top: 40px;
    }

    &__paginator {
        margin-top: 40px;
    }
}